#radius {
border: 1px solid #000000;
width: 200px;
height: 200px;
background-color: black;
border-radius: 15px;
float:left;
}
#radius2 {
border: 1px solid #000000;
width: 200px;
height: 200px;
background-color: red;
border-radius: 15px;
float:left;
}

#radius:hover{
	background-color:#ff9f19;
}
#radius2:hover{
	background-color:#ff9f19;
}